<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384172656037-5k9tbriu0ki2gmiav2c9h049g1dicrcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384172656037-5k9tbriu0ki2gmiav2c9h049g1dicrcs</string>
	<key>API_KEY</key>
	<string>AIzaSyAYx4_M65MB8q7yYYY9k-4k2qYByATdKFU</string>
	<key>GCM_SENDER_ID</key>
	<string>384172656037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.modu.LinkMoa</string>
	<key>PROJECT_ID</key>
	<string>linkmoa-1ef7c</string>
	<key>STORAGE_BUCKET</key>
	<string>linkmoa-1ef7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:384172656037:ios:91c37ce3f363543eef144c</string>
</dict>
</plist>
